<div class="container ml-3">
   
            @for (item of products; track item.productId) {
                <div class="card flex justify-content-center">
                    <p-card  [style]="{ width: '360px' }">
                        <p>{{item.productName}}</p>
                        <p>{{item.productDescription}}</p>
                        <ng-template pTemplate="header">
                           
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                        </ng-template>
                        <div class="container">
                          <p>
                          
                        </p>   
                        </div>
                       
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                               
                                <p-button label="Sepete Ekle"  [text]="true" [raised]="true" />
                                <!-- <p-button label="Favorilerime Ekle" [text]="true" [raised]="true" severity="help"  /> -->
                               
                                    <button  pButton   pRipple   label="Favorilere Ekle" class="p-button-help" >
                                    </button>
                               
                            
                                
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            }
      


</div>




