<div class="container ml-3">
   
            @for (item of products; track item.productId) {
                <div class="card flex justify-content-center">
                    <p-card  [style]="{ width: '360px' }">
                        <p>{{item.productName}}</p>
                        <p>{{item.productDescription}}</p>
                        <ng-template pTemplate="header">
                           
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                        </ng-template>
                        <div class="container">
                          <p>
                          
                        </p>   
                        </div>
                        <button  pButton   pRipple   label="İncele" class="p-button-primary" [outlined]="true"  [raised]="true" style="margin-right: 4px;" (click)="viewProductDetails(products)">
                        </button>
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                               
                                <button  pButton   pRipple   label="Sepete Ekle" class="p-button-success" [outlined]="true"  [raised]="true" style="margin-right: 4px;">
                                </button>
                               
                                    <button  pButton   pRipple   label="Favorilere Ekle" class="p-button-help" [outlined]="true" [raised]="true" >
                                    </button>
                               
                            
                                
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            }
      


</div>




