<div *ngIf="items.length === 0">
    <p>Favorileriniz boş.</p>
    <button  pButton   pRipple   label=" Tümünü Kaldır" class="p-button-primary" [outlined]="true"  [raised]="true" style="margin-right: 4px;" (click)="clearList()" ></button>
    <button  pButton   pRipple   label=" Tümünü Kaldır" class="p-button-primary" [outlined]="true"  [raised]="true" style="margin-right: 4px;" (click)="sepetOlustur(items.createdId)" ></button>

  </div>
  
  <p-table [value]="items" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Products
            <p-button icon="pi pi-refresh" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.name}}</td>
            
            <td>{{product.price}}</td>                 
            
            <td><button  pButton   pRipple   label="Kaldır" class="p-button-primary" [outlined]="true"  [raised]="true" style="margin-right: 4px;" (click)="removeFromList(items.productId)" ></button></td>
            <td><button  pButton   pRipple   label="Sepete EKle" class="p-button-primary" [outlined]="true"  [raised]="true" style="margin-right: 4px;" (click)="addToCart(items.productId)" ></button></td>
            
            
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{items ? items.length : 0 }} products.
        </div>
    </ng-template>
</p-table>
  
    <button (click)="clearList()">Favorileri Temizle</button>
    

  