<div *ngIf="items.length === 0">
    <p>Favorileriniz boş.</p>
  </div>
  
  <div *ngIf="items.length > 0">
    <table>
      <thead>
        <tr>
          <th>Ürün</th>
          <th>Fiyat</th>
          <th>İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.productName }}</td>
          <td>{{ item.price | currency }}</td>
          <td>{{ item.pro }}</td>
          <td><button (click)="removeFromList(item.productId)">Kaldır</button></td>
          <button  pButton   pRipple   label="Sepete Ekle" class="p-button-success" [outlined]="true"  [raised]="true" style="margin-right: 4px;"   
          ></button>
        </tr>
      </tbody>
      
    </table>
  
    <button (click)="clearList()">Favorileri Temizle</button>
    
  </div>
  